<p>
  <%= f.text_field(:regexp, :size => 50, :required => true, :disabled => !custom_field.new_record?) %>
  <em class="info">e.g. created_on: 2015-03-31</em>
  <em class="info">{yyyy}-{000} #=> 2015-001</em>
  <em class="info">{yy}-{000} #=> 15-001</em>
  <em class="info">{YYYY}-{000} #=> 2015-001</em>
  <em class="info">{YY}-{000} #=> 15-001</em>

  <em class="info">{YY}-{mm}-{000} #=> 15-03-001</em>
  <em class="info">{YYYY}-{mm}-{000} #=> 2015-03-001</em>
</p>

<%= f.hidden_field :is_required, :value => '0' %>
<%= f.hidden_field :visible, :value => '1' %>
<%= hidden_field_tag 'custom_field[role_ids][]', '' %>

<script>
  $(document).ready(function() {
    $('input[type="checkbox"]#custom_field_is_required').parent().remove();
    $('input[type="radio"]#custom_field_visible_on').parent().parent().remove();
  });
</script>
